/**Background**/

.background{
	background: rgba(173, 19, 19, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: white;
}
/** Top of the page **/
.header{
	background:url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-chinese-food-pasta-simple-white-banner-image_179324.jpg);
	float:left;
	width:100%;
	background-repeat:no-repeat; 
	background-position:top center; 
	background-size:cover; 
	padding:60px 0px;
	text-align:center;
}

/** Navigation Bar **/
.navBar{
	float:left;
	width:100%; 
	padding:33px 0px; 
	margin-top:20px; 
	position:relative;
}

.navBar .logo {
	height: 220px; 
	left: 0;
	margin: 0 auto;
	padding: 0px; 
	position: absolute;
	right: 0;
	top: -81px;
	width: 290px;
}

.navBar .logo a {
	float:left; 
	height:100%; 
	width:100%;
}

.navBar .logo a img{
	padding-top: 35px;
	width: 100%;
}

.navBar .menuLeft{
	float:left;
	width:30%;
	line-height: 42px;
}

.navBar .menuLeft li{
	display: inline-block;
}
.navBar .menuRight{
	float:right;
	width: 36%;
	line-height: 42px;
	text-align: right;
	padding-right: 5%;
}

.navBar .menuRight li{
	display: inline-block;
}

/** Navigation Buttons **/
.currentButton{
	display:inline-block;
	text-align:center;	
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	color:#e01212;
	border-radius:20px;
	font-size:24px;
	cursor:pointer;
}

.button{
	display:inline-block;
	text-align:center;	
	font-size:24px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
	border-radius:20px;
}
.button:hover{
	background-color:white;
	color:#e01212;
	font-size:24px;
	cursor:pointer;
}

/** Home page **/

.mainSec{
	float: left;
	text-align: center;
	padding: 2% 0;
	width: 100%;
}

.locationPic{
  	padding: 10px 0 0 10px;
	margin-top: 22px;
	float:left;
	width: 44%;
}

.locationPic img{
	width: 100%;
	border: 5px solid black;
}

.locationPic h1{
	float: left;
	width: 100%;
	margin-bottom: 22px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size:50px;
}

.mainSec .locationPic p{
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-size:30px;
}

.interiorPic{
	padding: 5px;
	margin-top: 22px;
	float:right;
	text-align: left;
	width: 44%;
}

.interiorPic img{
	margin-bottom:22px;
	width: 100%;
	border: 5px solid black;
}

.itemSec{
	float: center;
	text-align: center;
	padding: 2% 0;
	width: 100%;
}

.homeTable th, td{
	margin-top:22px;
	border: 5px solid;
	font-family:'Times New Roman', Times, serif;
	font-size: 50px;
	font-weight: bold;
}
.homeTable td{
	margin-top:22px;
	border: 3px solid;
	font-size:30px;
	font-family:'Times New Roman', Times, serif;
}

.featuredItem{
	padding: 10px 0 0 10px;
	margin-top: 15px;
	float: left;
	width: 44%;
}

.featuredItem img{
	width: 100%;
	border-width: 5px;
	border-style: solid;
	border-color: white;
}

.featuredItemText {
	padding: 50px;
	float:right;
	text-align: center;
	width: 44%;
	margin-top:150px;

}

.featuredItemText p{
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
}
/** Menu Page **/

.menuAll{
	float: left;
	text-align: center;
	padding: 2% 0;
	width: 100%;
}

.menu {
	display: block;
	justify-content: left;
	align-items: left;
  }
  
  .btn {
	background-color: #eee; 
	color: black; 
	display: block; 
	padding: 12px; 
	text-decoration: none;
	float: left; 
	cursor: pointer;
	border-color: white;
  }
  
  .btn::before{
	background-color: #eee; 
	color: black; 
	display: block; 
	padding: 12px; 
	text-decoration: none;
	float: left; 
	border-color: white;
  }
  
  .active, .btn:hover{
	background-color: rgba(120, 12, 12, 0.5); 
	color: black;
  }
  
  .menuItems{
	margin-top: 22px;
	float:right;
	text-align: left;
	width: 44%;
  }
  
  .menuItems .item{
	  float: left;
  }
/** Gallery **/
.GalleryTitle{
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
}
.alignLeft{
	align-items:left;
	border-width: 5px;
	border-style:solid;
	border-color:black;
}
.alignRight{
	align-items:right;
	border-width: 5px;
	border-style:solid;
	border-color:black;
}

  
/** Footer **/
.footer{
	float: left;
	padding: 25px 0px;
	width: 100%;
	padding-bottom: 15px;
	background: url(https://www.hotelmousai.com/blog/wp-content/uploads/2021/12/The-10-Most-Popular-Dishes-in-China-1140x694.jpg);

}

.footer .main{
	margin-bottom: 25px;
	float: left;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.footer .main .phone{
	font-size: 18px;
	float: left;
	width:25%;
	line-height: 25px;
	padding-left: 10%;
	color:#dbd8e3;
}

.footer .main .mail{
	font-size: 18px;
	float: left;
	width: 41%;
	margin-right: 0px;
	line-height: 25px;
	color:#dbd8e3;
}

.footer .main .location{
	font-size: 18px;
	float: right;
	width: 25%;
	line-height: 25px;
	color:#dbd8e3;
	padding-right: 10%;
}
