/**Background**/
.webBorder{
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.background{
	background: rgba(173, 19, 19, 0.5);
}
/** Top of the page **/
.header{
	background:url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-chinese-food-pasta-simple-white-banner-image_179324.jpg);
	float:left;
	width:100%;
	background-repeat:no-repeat; 
	background-position:top center; 
	background-size:cover; 
	padding:60px 0px;
	text-align:center;
}

/** Navigation Bar **/
.navBar{
	float:left;
	width:100%; 
	padding:33px 0px; 
	margin-top:20px; 
	position:relative;
}

.navBar .logo {
	height: 220px; 
	left: 0;
	margin: 0 auto;
	padding: 0px; 
	position: absolute;
	right: 0;
	top: -81px;
	width: 290px;
}

.navBar .logo a {
	float:left; 
	height:100%; 
	width:100%;
}

.navBar .logo a img{
	padding-top: 35px;
	width: 100%;
}

.navBar .menuLeft{
	float:left;
	width:30%;
	line-height: 42px;
}

.navBar .menuLeft li{
	display: inline-block;
}
.navBar .menuRight{
	float:right;
	width: 36%;
	line-height: 42px;
	text-align: right;
	padding-right: 5%;
}

.navBar .menuRight li{
	display: inline-block;
}

/** Navigation Buttons **/
.currentButton{
	display:inline-block;
	text-align:center;	
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	color:#e01212;
	border-radius:20px;
	font-size:24px;
	cursor:pointer;
}

.button{
	display:inline-block;
	text-align:center;	
	font-size:24px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
	border-radius:20px;
}
.button:hover{
	background-color:white;
	color:#e01212;
	font-size:24px;
	cursor:pointer;
}

/** Home page **/
.container1{
	display:flex;
	align-items: center;
	justify-content: center;
}
.locationPic{
	text-align: left;
  	padding: 5px;
	margin-top: 15px;
	float:left;
	margin-left: auto;
	margin-right: auto;
	max-height:50%;
	max-width:50%;
}
.locationTitle{
	font-size: 20 px;
	padding-left:20px;
}
.interiorPic{
	padding: 5px;
	margin-top: 15px;
	float:right;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	max-height:50%;
	max-width:50%;
}

/** Footer **/
.footer{
	float: left;
	padding: 25px 0px;
	width: 100%;
	padding-bottom: 15px;
	background: url(https://www.shanghaigardenunion.com/assets/img/gallery_images//gallery15859259860.jpg);

}

.footer .main{
	margin-bottom: 25px;
	float: left;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.footer .main .phone{
	font-size: 18px;
	float: left;
	width:25%;
	line-height: 25px;
	padding-left: 10%;
	color:#dbd8e3;
}

.footer .main .mail{
	font-size: 18px;
	float: left;
	width: 41%;
	margin-right: 0px;
	line-height: 25px;
	color:#dbd8e3;
}

.footer .main .location{
	font-size: 18px;
	float: right;
	width: 25%;
	line-height: 25px;
	color:#dbd8e3;
	padding-right: 10%;
}
